<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314785357094-mjrfiiar76h3nvsderkgnaajs8hnhrcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314785357094-mjrfiiar76h3nvsderkgnaajs8hnhrcm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314785357094-0u894ee18tpkvikl41hmq2l1un20avfn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIWM_Jl_QHdI61Kh4rdwe3eyqpd7h-vwM</string>
	<key>GCM_SENDER_ID</key>
	<string>314785357094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.management</string>
	<key>PROJECT_ID</key>
	<string>zoom-c8fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-c8fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314785357094:ios:1e46a4270a665640a1f5e7</string>
</dict>
</plist>